# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


deployment_templates/gcp/variables.tf
gcp_container_mysql_deploy.py
api/topologyResponse.js
deployResponse.js
backend
images
api/backend
diagram_as_code/aws/__pycache__
diagram_as_code/azure/__pycache__
diagram_as_code/gcp/__pycache__
pricing/aws/__pycache__
pricing/azure/__pycache__
pricing/gcp/__pycache__
__pycache__ 


#Terraform file and provider
.terraform*
*.tfstate
*tfvars
*.backup